
@{
    Layout = null;
}

<h3> Mvc Kamp Tablo Örneği - Kategori</h3>

<table class="table-hover">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @*@foreach (var item in collection)
    {

    }*@

</table>