
@{
    Layout = null;
}

<h3> Mvc Kamp Tablo Örneği - Kategori</h3>

@*For using Bootstrap *@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    @*@foreach (var item in collection)
        {
            <tr>



            <td><button class="btn btn-primary"> Yeni Kategori   </button> </td>
            </tr>
        }*@

</table>
<button class="btn btn-primary"> Yeni Kategori   </button>
